#titleFormHotel{
    background: linear-gradient(90deg,  #7580cf, #273385);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#saveHotel{
    background:linear-gradient(to right, #7580cf, #273385) ;
    color: white;
    padding-bottom: -50%;
}
#formHotel{
    margin-top: 3%;
}

.form-select:focus {
border-color: rgba(65, 78, 153, 0.25);
outline: 0;
box-shadow: 0 0 0 2px rgba(65, 78, 153, 0.25);
}


#programs {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:white;
}


.custom-col {
  width: 48%;
}


#programs .card-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;  
  margin: 10%;
  border-radius: 10px;
}

#programs .card-body {
  padding: 10px 10px 10px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
}

#programs .card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0%;
}

#programs .card-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #273385;
}

#programs .card-price {
  font-size: 16px;
  font-weight: 500;
  color: #273385;
}

#programs .card-description {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;      
  -webkit-box-orient: vertical;
  overflow: hidden;           
  text-overflow: ellipsis; 
}

#programs .card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#mini_programs .radio{
  text-align: left;
  margin: -1% 0 0 5%;
}
#mini_programs {
  display: flex;
  border-radius: 15px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:white;
  width:20%;
}




.custom-col {
  width: 48%;
}

#mini_programs .card-body {
  padding: 5% 2%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

#mini_programs .card-header {
  padding: 0% 1%;
  text-align: center;
}

#mini_programs .card-title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #273385;
  font-size: 16px;
}

#mini_programs .card-description {
  font-size: 14px;
  color: #555;
  width: 100%;
  text-align: center;
}
#mini_programs .card-content {
  margin: -2% 5% 0 5%;
}

#mini_programs .card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#mini_programs .icon{
  float: right;
}


#programDetails .card-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;  
  margin: 10%;
  border-radius: 10px;
}

.sheetProgram {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: 1000px;
  margin: 0 auto;
}

.return {
  margin: 1% 0 1% 0;
}

.programDetails {
  display: flex;
  justify-content: space-between; 
}

.card-image-left {
  flex: 0.7;
  margin-left:3%;
}

.card-image-left img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 20px 0;
}

.card-map-right {
  flex: 0.7;
  margin: 0 3%;
  height: auto;
}

.sheetProgram .description {
  font-size: 15px;
}

.sheetProgram .info p {
  line-height: 0.8;
}

.sheetProgram .info svg {
  margin: -1% 1% 0 0;
}

.sheetProgram .info {
  margin-top: 5%;
  color: #273385;

}

.custom-hr {
  background-color: rgb(201, 201, 201);
  height: 20px;
}

#buttonMinus, #buttonPlus{
  margin: 0 5px;
  background-color: white;
  border: none;
  color: #273385;
  margin-top: -50%;
}
.addGuide, .addPorter{
  display: flex;
  align-items: center;
}

.addPorter input{
  margin: 0px 10px; 
  width: 18px;
  height: 18px;
}

#buttonValidate{
  background-color: white;
  color: #273385;
  border: solid 1px #273385;
  font-size: 13px;
  border-radius: 5px;
  margin-left: 2%;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.shake-button {
  animation: shake 0.5s infinite;
  animation-timing-function: ease-in-out;
}
