#titleFormHotel{
    background: linear-gradient(90deg,  #7580cf, #273385);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#saveHotel{
    background:linear-gradient(to right, #7580cf, #273385) ;
    color: white;
    padding-bottom: -50%;
}
#formHotel{
    margin-top: 3%;
}

.form-select:focus {
border-color: rgba(65, 78, 153, 0.25);
outline: 0;
box-shadow: 0 0 0 2px rgba(65, 78, 153, 0.25);
}


#programs {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:white;
}


.custom-col {
  width: 48%;
}


#programs .card-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;  
  margin: 10%;
  border-radius: 10px;
}

#programs .card-body {
  padding: 10px 10px 10px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
}

#programs .card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0%;
}

#programs .card-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #273385;
}

#programs .card-price {
  font-size: 16px;
  font-weight: 500;
  color: #273385;
}

#programs .card-description {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;      
  -webkit-box-orient: vertical;
  overflow: hidden;           
  text-overflow: ellipsis; 
}

#programs .card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#mini_programs {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:white;
  width:23%;
}


.custom-col {
  width: 48%;
}

#mini_programs .card-body {
  padding: 5% 2%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
}

#mini_programs .card-header {
  padding: 0% 1%;
  text-align: center;
}

#mini_programs .card-title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #273385;
  font-size: 16px;
}

#mini_programs .card-description {
  font-size: 14px;
  color: #555;
  width: 100%;
  text-align: center;
}
#mini_programs .card-content {
  margin: -2% 5% 0 5%;
}

#mini_programs .card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#mini_programs .icon{
  float: right;
}
