.card-horizontal {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:#ffffff;
}


.custom-col {
  width: 48%;
}


#excursions .card-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;  
  margin: 10%;
  border-radius: 10px;
}

#excursions .card-body {
  padding: 10px 10px 10px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
}

#excursions .card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0%;
}

#excursions .card-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #273385;
}
#excursions .card-subtitle {
  font-size: 15px;
}

#excursions .card-price {
  font-size: 16px;
  font-weight: 500;
  color: #273385;
}

#excursions .card-description {
  font-size: 13px;
  color: #555;
  width: 80%;
}

#excursions .card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
