#excursions .card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  margin: auto;
}

#excursions .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 130px; 
  object-fit: cover;
}

#excursions .card-body {
  padding: 10px 15px 15px 15px;
}

#excursions .card-title {
  margin: 0;
  font-size: 20px;
  color:#273385;
}

#excursions .card-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

#cardExcursion {
  transition: transform 0.3s ease;
}

#cardExcursion:hover {
  transform: scale(1.02);
}

.excursion-sheet {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.excursion-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.excursion-details {
  display: flex;
  gap: 20px;
}

.excursion-image img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
}

.excursion-info {
  flex-grow: 1;
}

.excursion-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.excursion-info-item span {
  margin-left: 10px;
  font-size: 1em;
  color: #333;
}

.excursion-description p {
  margin-top: 10px;
  line-height: 1.5;
}

.excursion-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-button,
.delete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.edit-button {
  background-color: #273385;
  color: white;
}

.delete-button {
  background-color: rgb(219, 1, 1);
  color: white;
}


