#excursions .card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  margin: auto;
}

#excursions .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 130px; 
  object-fit: cover;
}

#excursions .card-body {
  padding: 10px 15px 15px 15px;
}

#excursions .card-title {
  margin: 0;
  font-size: 20px;
  color:#273385;
}

#excursions .card-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

#cardExcursion {
  transition: transform 0.3s ease;
}

#cardExcursion:hover {
  transform: scale(1.02);
}

