.cont {
    text-align: center;
    padding: 5%;
}
#back{
    background-color: #636fa4;
    padding-top: 1%;
    border-radius: 5px;
}
#login {
    background-color: #5b6697;
    padding: 5% 0 10% 0;
    background-color: white;
    box-shadow: 8px 8px 8px rgba(214, 214, 214, 0.5);
}
.input{
    margin-top: 3%;
}
#button{
    margin-top: 5%;
}
#foot{
    text-align: left;
}
body, html{
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.title{
    font-size: 20px;
    color: #5b6697;
}
