.nav-item .nav-link {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
    transform: scale(1.01);
}

.nav-item .nav-link:hover .icon {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item .nav-link:active {
    transform: scale(0.95);
}

.nav-item .nav-link:active .icon {
    background-color: #0056b3;
}
