.nav-item .nav-link {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
    color: #273385;
    transform: scale(1.05);
}

.nav-item .nav-link:hover .icon {
    background-color: #007bff;
    transform: rotate(4deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item .nav-link:active {
    transform: scale(0.95);
}

.nav-item .nav-link:active .icon {
    background-color: #0056b3;
}
