.nav-item .nav-link {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
  transform: scale(1.01);
}

.nav-item .nav-link:hover .icon {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item .nav-link:active {
  transform: scale(0.95);
}

.nav-item .nav-link:active .icon {
  background-color: #0056b3;
}

.sidebarIcon {
  margin-left: 15%;
  color: grey;
}

/*  */

/* Sidebar ouverte */
.sidebar-open {
  width: 250px;
  transition: width 0.3s ease;
  background-color: white;
  z-Index: 1;
}

/* Sidebar fermée */
#sidebar-closed {
  /* width: 80px;
  transition: width 0.3s ease; */
  overflow: hidden;
  width: 70px;
  background-color: red;
  padding: -2%;
  z-Index: 1;
}

#sidebar-close #sidebarIcons {
  background-color: blue;
}

/* Ajuste le contenu en fonction de l'état de la sidebar */
/* .sidenav .nav-link-text {
  display: inline-block;
}

.sidebar-closed .nav-link-text {
  display: none;
}

.sidebarIcon {
  cursor: pointer;
} */